@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v0_8411 {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v0_8412 {
  width: 100%;
  height: 70%;
  background: rgb(244, 244, 244);
  opacity: 1;
  position: absolute;
  bottom: 68px;
  left: 0px;
  overflow: hidden;
}

/* menuBar */
.menuBar {
  width: 100%;
  height: 68px;
  background: rgb(255, 255, 255);
  position: fixed;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 2;
}

.vI0_9961_0_8175 {
  width: 100%;
  height: 68px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.101343967);
}

/* 메인화면 */
.main {
  width: 20%;
  height: 68px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: none;
  color: #C5CEE0;
}

#icon1 {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0px 0px;
}

.icon1_name {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.main:hover {
  color: #FF7E00;
}

/* AI 헤어추천 */
.ai {
  width: 20%;
  height: 68px;
  background: rgb(255, 255, 255);
  color: #C5CEE0;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20%;
  border: none;
}
#icon2 {
  width: 100%;
  height: 38px;
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 0%;
  padding: 0px 0px;
}
.icon2_name {
  width: 100%;
  position: absolute;
  bottom: 2px;
  left: 0%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 10px;
}
.ai:hover{
  color: #FF7E00;
}

/* 예약내역 */
.reservation {
  width: 20%;
  height: 68px;
  background: rgb(255, 255, 255);
  color: #C5CEE0;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40%;
  border: none;
}

#icon3 {
  width: 100%;
  height: 38px;
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0px 0px;
}

.icon3_name {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.reservation:hover {
  color: #FF7E00;
}

/* 채팅 */
.chatting {
  width: 20%;
  height: 68px;
  background: rgb(255, 255, 255);
  color: #C5CEE0;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60%;
  border: none;
}

#icon4 {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0px 0px;
}

.icon4_name {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.chatting:hover {
  color: #FF7E00;
}

/* 프로필 */
.profile {
  width: 20%;
  height: 68px;
  background: rgb(255, 255, 255);
  color: #FF7E00;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80%;
  border: none;
}

#icon5 {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0px 0px;
}

.icon5_name {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.profile:hover {
  color: #FF7E00;
}

.logout {
  cursor: pointer;
  width: 90%;
  height: 74px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 5%;
  overflow: hidden;
  border: none;
}

#logout_icon {
  width: 34px;
  height: 34px;
  font-size: 20px;
  color: #222B45;
  text-align: center;
  position: absolute;
  top: 28px;
  left: 12px;
  border: none;
}

.v0_8416 {
  width: 59px;
  color: rgb(34, 43, 69);
  position: absolute;
  top: 28px;
  left: 58px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.name {
  color: #fff;
}

.v0_8418 {
  width: 90%;
  height: 251px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 320px;
  left: 5%;
  border: none;
}

.v0_8419 {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgb(150, 150, 150);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.0702578649);
}

.name {
  color: #fff;
}

.client_center {
  width: 300px;
  height: 50px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 12px;
  overflow: hidden;
  border: none;
}

.v0_8422 {
  width: 56px;
  color: rgb(34, 43, 69);
  position: absolute;
  top: 8px;
  left: 46px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v168_4393 {
  width: 34px;
  height: 34px;
  background: url("/static/img/client_center.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.setting {
  width: 300px;
  height: 50px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 12px;
  overflow: hidden;
  border: none;
}

.v0_8426 {
  width: 28px;
  color: rgb(34, 43, 69);
  position: absolute;
  top: 8px;
  left: 46px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v168_4392 {
  width: 34px;
  height: 34px;
  background: url("/static/img/setting.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.invite_friend {
  width: 300px;
  height: 50px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 12px;
  overflow: hidden;
  border: none;
}

.v0_8430 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(34, 43, 69);
  position: absolute;
  top: 8px;
  left: 46px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v168_4391 {
  width: 34px;
  height: 34px;
  background: url("/static/img/friend.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.alert {
  width: 300px;
  height: 50px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 12px;
  overflow: hidden;
  border: none;
}

.v0_8434 {
  width: 28px;
  color: rgb(34, 43, 69);
  position: absolute;
  top: 8px;
  left: 46px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v168_4390 {
  width: 34px;
  height: 34px;
  background: url("/static/img/alert.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v0_8440 {
  width: 90%;
  height: 133px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 190px;
  left: 5%;
  overflow: hidden;
}

.v0_8441 {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgb(150, 150, 150);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.0702578649);
  overflow: hidden;
}

.modify_profile {
  width: 300px;
  height: 50px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 12px;
  overflow: hidden;
  border: none;
}

.v0_8448 {
  width: 101px;
  color: rgb(34, 43, 69);
  position: absolute;
  top: 8px;
  left: 46px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v168_4389 {
  width: 34px;
  height: 34px;
  background: url("/static/img/modifyProfile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}

.payment {
  width: 300px;
  height: 50px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 12px;
  overflow: hidden;
  border: none;
}

.v0_8444 {
  width: 28px;
  color: rgb(34, 43, 69);
  position: absolute;
  top: 8px;
  left: 46px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.v168_4388 {
  width: 34px;
  height: 34px;
  background: url("/static/img/payment.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.profile_photo {
  width: 100%;
  height: 153px;
  /* height: 17vw; */
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 5%;
  overflow: hidden;
  text-align: center;
}

.v168_4566 {
  width: 100%;
  height: 80px;
}

.v0_8453 {
  width: 80px;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  border: 3px solid rgb(244, 244, 244);
  margin: auto;
}
.v0_8453:hover{
  opacity: 0.7;
}

.v0_8454 {
  width: 100%;
  height: fit-content;
  color: rgb(46, 58, 89);
  /* position: relative;
  left: 0px; */
  font-family: "Abel";
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

#email {
  width: 100%;
  height: fit-content;
  color: rgb(46, 58, 89);
  /* position: relative;
  left: 0px; */
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}

.name {
  color: #fff;
}/*# sourceMappingURL=31_profile.css.map */