* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.v302_4334 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.v302_4335 {
  width: 100%;
  /* height: 1200px; */
  background: rgba(244,244,244,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 0px;
  overflow: hidden;
}

  /* 미용실 사진 */
  .salonPhoto {
    width: 100%;
    height: 228px;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 2;
  }
  
  .v0_9842 {
    width: 100%;
    height: 228px;
    background: rgb(143, 155, 179);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgb(150, 150, 150);
    overflow: hidden;
  }
  
  .v35_3286 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgb(150, 150, 150);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
  }
  
  .salon_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(rgba(24, 24, 39, 0.3695367277), rgba(48, 47, 104, 0.0001));
    opacity: 0.8;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgb(150, 150, 150);
    overflow: hidden;
  }
  
  .salon_name {
    width: fit-content;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  
  /* 최상단 그림자 효과 */
  .shadown {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(24, 24, 39, 0.3695367277), rgba(48, 47, 104, 0.0001));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgb(150, 150, 150);
    overflow: hidden;
  }
  
   /* 최상단 아이콘버튼(뒤로가기, 전화, 채팅) */
   .back_icon, .phone_icon, .chat_icon{
    width: 25px;
    height: 25px;
    font-size: 20px;
    opacity: 1;
    position: absolute;
    top: 30px;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
  }
  .salonPhoto button:hover > i{
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
  }
  .back_icon{
    left: 5px;
  }
  .phone_icon{
    right: 45px;
  }
  .chat_icon{
    right: 10px;
  }
  
  /* 별점 */
  .star_point {
    width: 60px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 164px;
    right: 5%;
    overflow: hidden;
  }
  .v0_9891 {
    width: 30px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1px;
    left: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 15px;
    opacity: 1;
    text-align: right;
  }
  #star_icon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: #FF7E00;
    position: absolute;
    top: 2px;
    right: 0px;
  }


/* 메뉴탭(소개, 디자이너, 사진, 리뷰) */
.menu_tab {
  width: 100%;
  height: 58px;
  opacity: 1;
  position: fixed;
  top: 228px;
  left: 0px;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
}

.menu_tab button {
  width: 25%;
  height: 32px;
  opacity: 1;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  background-color: transparent;
}
.menu_tab button:hover{
  color: rgb(255, 126, 0);
  border-bottom: 2px solid rgb(255, 126, 0);
}

.introduction {
  border: none;
  color: rgb(197, 206, 224);
  left: 0%;
}

.designer {
  border: none;
  color: rgb(255, 126, 0);
  border-bottom: 2px solid rgb(255, 126, 0);
  left: 25%;
}

.photos {
  border: none;
  color: rgb(197, 206, 224);
  left: 50%;
}

.review {
  border: none;
  color: rgb(197, 206, 224);
  left: 75%;
}

.v302_4357 {
  width: 90%;
  color: rgba(143,155,179,1);
  position: absolute;
  top: 239px;
  left: 5%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v302_4358 {
  width: fit-content;
  color: rgba(46,58,89,1);
  position: absolute;
  top: 194px;
  left: 5%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}

/* 디자이너 */
.designers_div{
  display: inline-block;
  width: 100%;
  height: fit-content;
  margin-top: 286px;
  background: rgb(244,244,244);
  padding-bottom: 5%;
}
.designer1{
  width: 100%;
  height: fit-content;
}
.designer2 {
  display: inline-block;
  width: 90%;
  height: fit-content;
  background: #fff;
  opacity: 1;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px #C5CEE0;
}
.designer_photo {
  width: 90%;
  height: 220px;
  object-fit: cover;
  margin-top: 8px;
  margin-left: 5%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px #C5CEE0;
}
.designer_exp_div{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
}
.designer_exp {
  width: 100%;
  color: rgba(143,155,179,1);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}

.button_div{
  width: 100%;
  padding: 20px 6%;
  justify-content: space-between;
}
.flex_div{
  width: fit-content;
}
.designer_name_div{
  width: fit-content;
}
.designer_name {
  width: 30%;
  color: rgba(46,58,89,1);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.chatting_div{
  margin-right: 2%;
}
.chatting, .reservation{
  width: fit-content;
  white-space: nowrap;
  border: none;
  color: #676767;
  background-color: transparent;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 15px;
  opacity: 1;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #878787;
}
.chatting:hover, .reservation:hover{
  border: 2px solid #FF7E00;
  background-color: #FF7E00;
  color: #fff;
}

@media screen and (min-width: 800px){
  .designer2{
    width: 50%;
    margin-left: 25%;
  }
  .designer_photo{
    object-fit: contain;
    background-color: #f3f3f3;
  }
}