* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    width: 100%;
    height: 100%;
  }
  .v0_10790 {
    width: 100%;
    height: 100%;
    background: rgba(255,126,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v45_3349 {
    width: 50%;
    height: 50%;
    background: url("/static/img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 1;
    position: absolute;
    top: 25%;
    left: 25%;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }