/* Import Local CSS */
@import url('/static/css/reset.css');
@import url('/static/css/variables.css');

* {
    font-family: var(--primary-kr);
    font-family: 300;
}
body {
    margin: 0;
    color:var(--dark-blue);
    line-height: 1.5em;
    font-size: 14px;
}

/* #### Common CSS #### */

/* Layout CSS */
.container {
    width: 375px;
    position: relative;
}
.main {
    height: 100vh;
}
/* GNB CSS */
.gnb{
    /* border: 1px solid #000; */
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%; /* 작업 완료 후 width: 100% */
    background-color: #fff;
    /* align-items: center; */
}
.gnb a {
    text-align: center;
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .gnb a .bi {
    font-size: 22px;
} */

/* .gnb a:nth-child(1) img,
.gnb a:nth-child(2) img,
.gnb a:nth-child(3) img,
.gnb a:nth-child(5) img {
    width: 75px;
    height: 40px;
} */
.gnb a:nth-child(4) img {
    /* width: 100px; */
    /* height: 45px; */
}
.gnb a span {
    display: block;
    font-size: 13px;
}

/* #### Main html */
.main {}
.main-inner {}
.main-header {
    padding: 10px;
}
.main-header .main-header-welcome {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.main-header h2.welcome {
    color: var(--dark-blue);
    flex: 1;
    font-weight: bold;
}
.main-header .main-header-welcome em {
    font-style: normal;
    flex: 2;
    font-size: 22px;
    color: var(--orange);
    font-weight: bold;
}
.main-header .main-header-welcome img {
    width: 30px;
    height: 30px;
}
.main-header .main-header-welcome span em {
    position:absolute;
    width: 13px;
    height: 13px;
    background-color: var(--orange);
    border-radius: 50%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(15px) translateX(-21px)
}
.main-header .main-header-welcome span em {
    color: #fff;
    top: 0;
    right: -3px;
}
.main-header .main-header-welcome span em:before {
    content: attr(data-count);
    font-style: bold;
    font-size: 8px;
}
.main-header .main-header-location img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    transform: translateY(3px)
}
.main-header .main-header-location {
    font-size: 14px;
    text-align: left;
    font-style: normal;
    color: var(--dark-blue);
    padding: 5px;
}
.main-header .main-header-search {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.main-header .main-header-search {}
.main-header-search .search-tab1 {
    width: 288px;
    height: 41.31px;
    border: 1px solid #f0f0f0;
    border-radius:8px;
    text-align:left;
}
.main-header-search .search-tab1 img {
    width: 24px;
    height: 24px;
    display: inline-block;
    transform: translateY(8px);
    margin-right: 10px;
}
.main-header-search .search-tab2 img {
    width: 42px;
    height: 42px;
}
.main-content {
    padding: 0;
    overflow-x: hidden;
}

/* AI 헤어 추천 */
.main-suggestion-list {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.main-suggestion-list h3 {
    color: var(--dark-blue);
    font-weight: bold;
    margin-left: 20px;
}
.recommend {
    display: flex;
    margin-right: 20px;
}
.main-suggestion-list em {
    font-style: normal;
    /* box-sizing: border-box; */
    color: var(--orange);
    /* margin-left: 150px; */
}
.main-suggestion-list img {

    width: 16px;
    height: 12px;
    display: inline-block;
    transform: translateX(5px) translateY(5px);
}
.main-suggestions {
    /* border: 1px solid #000; */
    margin-bottom: 20px;
    width: 430px;
}
.main-suggestion {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.main-suggestion .thum {
    width: 125px;
    height: 159px;
    box-shadow: 1px 1px rgb(0, 0, 0, 0.1);
}
.main-suggestion .thum img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
}
.main-suggestion .desc {
    color: var(--dark-blue);
    font-weight: bold;
    width: 125px;
    margin-left: 5px;
}

/* 베스트 디자이너 */
.main-best-designer-list {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.main-best-designer-list h3 {
    color: var(--dark-blue);
    font-weight: bold;
    margin-left: 20px;
}
.view-all {
    display: flex;
    margin-right: 20px;
}
.main-best-designer-list em {
    font-style: normal;
    color: var(--orange);
}
.main-best-designer-list img {
    width: 16px;
    height: 12px;
    display: inline-block;
    transform: translateX(6px) translateY(5px);
}
.main-suggestion span {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-left: 6px;
}

/* 특별 할인 */
.main-best-designer-list {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.main-best-designer-list h3 {
    color: var(--dark-blue);
    font-weight: bold;
    margin-left: 20px;
}
.view-all {
    display: flex;
    margin-right: 20px;
}
.main-best-designer-list em {
    font-style: normal;
    color: var(--orange);
}
.main-best-designer-list img {
    width: 16px;
    height: 12px;
    display: inline-block;
    transform: translateX(6px) translateY(5px);
}
.main-suggestion .desc {
    display: flex;
    justify-content: space-between;
}
.main-content .special-prices .special-price-list {
    display: flex;
    justify-content: space-between;
}


.special-price-list h3 {
    margin-left: 20px;
    font-weight: bold;
}
.special-price-list em {
    font-style: normal;
    color: var(--orange);
}
.special-price-list img {
    width: 16px;
    height: 16px;
    transform: translateX(3px) translateY(3px);
}
.special-price {
    margin-bottom: 20px;
    width: 430px;
}
.special-price .price-recommend .thum {
    width: 287px;
    height: 170px;
    box-shadow: 1px 1px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    float:inline-start
}
.special-price .price-recommend .thum img {
    float:inherit
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
}

/* 디자이너 탭 2 */
.salon-header .top-menubar {

    /* display: flex; */
    background: url('/static/img/price-recommend-01.png');
    width: 375px;
    height: 229px;
}
.salon-header .top-menubar .top-menubar-nav {
    display:flex;
    justify-content: space-between;
}
.top-menubar-nav {
    padding: 5px;
    transform: translateY(30px);
    
}
.top-menubar-nav {
    margin-bottom: 90px;
}
.top-menubar-nav .btn-back,
.top-menubar-nav .btn-call,
.top-menubar-nav .btn-chat {
    background-color: transparent;
    border: 1px solid transparent;

}

.top-menubar .first,
.top-menubar .second {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}
.top-menubar .first em {
    font-style: normal;
}
.top-menubar .first img {
    display:inline-block;
    transform: translateX(6px) translateY(5px);
}
.top-menubar .second img {
    display:inline-block;
    transform: translateX(6px) translateY(-5px);
}
.salon-designer-inner .salon-content .salon-menubar {
    height: 55px;
    display: flex;
    justify-content: space-between;
}
.salon-content .salon-menubar a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: normal;
}
.salon-content .salon-menubar a.active {
    border-bottom: 3px solid var(--orange);
    color: var(--orange);
}
.salon-content .designer-intro {

    background-color: #f4f4f4;
    padding: 20px;
}
.designer-01 {
    border-radius: 8px;
    background-color: #fff;
}
.salon-content .designer-intro img {
    width: 294px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}
.salon-content .designer-intro .designer-name {
color: var(--dark-blue);
font-size: 17px;
margin-bottom: 15px;

font-weight: bold;
}

.designer-01 .designer-name a {
    border: 1px solid #222B45;
    border-radius: 8px;
    width: 87px;
    height: 24px;
    margin-left: 100px;
    color: var(--dark-blue);
    font-weight: bold;

}
.salon-content .designer-intro .designer-name img {
    width: 20px;
    height: 20px;
    transform: translateY(13px);
}
.salon-content .designer-intro .designer-info span {
    display: block;
    font-size: 13px;
    color: #8F9BB3;
}
.designer-01 {
    padding: 20px;
}

.designer-02 {
    border-radius: 8px;
    background-color: #fff;
    margin-top: 20px;
}
.designer-02-info .designer-info {

    padding: 20px;
}
.designer-02-info .designer-info img {
    width: 294px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
.designer-02 .designer-name {
    margin-top: 0;
}
.designer-02 .designer-name a {
    border: 1px solid #222B45;
    border-radius: 8px;
    width: 87px;
    height: 24px;
    margin-left: 117px;
    color: var(--dark-blue);
    font-weight: bold;

}

/* 디자이너 탭 1 */
.salon-designer-inner {}
.salon-designer-inner .salon-header {}
.salon-header .top-menubar {

    /* display: flex; */
    background: url('/static/img/price-recommend-01.png');
    width: 375px;
    height: 229px;
}
.salon-header .top-menubar .top-menubar-nav {
    display:flex;
    justify-content: space-between;
}
.top-menubar-nav {
    padding: 5px;
    transform: translateY(30px);
    
}
.top-menubar-nav {
    margin-bottom: 90px;
}
.top-menubar-nav .btn-back,
.top-menubar-nav .btn-call,
.top-menubar-nav .btn-chat {
    background-color: transparent;
    border: 1px solid transparent;

}

.top-menubar .first,
.top-menubar .second {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}
.top-menubar .first em {
    font-style: normal;
}
.top-menubar .first img {
    display:inline-block;
    transform: translateX(6px) translateY(5px);
}
.top-menubar .second img {
    display:inline-block;
    transform: translateX(6px) translateY(-5px);
}
.salon-designer-inner .salon-content .salon-menubar {
    height: 55px;
    display: flex;
    justify-content: space-between;
}
.salon-content .salon-menubar a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: normal;
}
.salon-content .salon-menubar a.active {
    border-bottom: 3px solid var(--orange);
    color: var(--orange);
}
.salon-content .designer-intro {

    background-color: #f4f4f4;
    padding: 20px;
}
.designer-01 {
    border-radius: 8px;
    background-color: #fff;
}
.salon-content .designer-intro img {
    width: 294px;
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}
.salon-content .designer-intro .designer-name {
color: var(--dark-blue);
font-size: 17px;
margin-bottom: 15px;

font-weight: bold;
}

.designer-01 .designer-name a {
    border: 1px solid #222B45;
    border-radius: 8px;
    width: 87px;
    height: 24px;
    margin-left: 100px;
    color: var(--dark-blue);
    font-weight: bold;

}
.salon-content .designer-intro .designer-name img {
    width: 20px;
    height: 20px;
    transform: translateY(13px);
}
.salon-content .designer-intro .designer-info span {
    display: block;
    font-size: 13px;
    color: #8F9BB3;
}
.designer-01 {
    padding: 20px;
}

.designer-02 {
    border-radius: 8px;
    background-color: #fff;
    margin-top: 20px;
}
.designer-02-info .designer-info {

    padding: 20px;
}
.designer-02-info .designer-info img {
    width: 294px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
.designer-02 .designer-name {
    margin-top: 0;
}
.designer-02 .designer-name a {
    border: 1px solid #222B45;
    border-radius: 8px;
    width: 87px;
    height: 24px;
    margin-left: 117px;
    color: var(--dark-blue);
    font-weight: bold;

}