{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SMART CUT - AI 헤어 추천</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scaleable=no, maximum-scale=1 user-scalable=no">
        <link rel="shortcut icon" href="http://127.0.0.1:8000/static/img/favicon.png" type="image/x-icon" />
        <link rel="icon" href="http://127.0.0.1:8000/static/img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'css/1_logoScreen.css' %}">
        <meta http-equiv="refresh" content="3; url={% url 'users:serviceExp1' %}"> 
    </head>
    <body>
        <div class="v0_10790">
            <div class="v45_3349"></div>
            <div class="name"></div>
            <div class="name"></div>
        </div>
    </body>
</html>